:root {
    --color-text-primary: #ccc;
    --color-text-secondary: #ccccccbd;
    --color-background-primary: #303030;
    --color-background-secondary: #666666;
    --color-highlight: #FFA1A5;
    --color-highlight-var: #ff636b;
}

#title {
    width: 468px;
    width: 50%;
    margin-inline: auto;
    container-type: inline-size;
}

.card-container {
    /* all: unset; */
    container-type: inline-size;
    padding-top: 10cqi;
    padding-bottom: 10cqi;
    filter: drop-shadow(4cqi 5cqi 2cqi var(--color-background-primary))!important; 
}

.card-container:hover {
    transform: none;
}


.card {
    width: 80%;
    margin-inline: auto;
    margin-bottom: 0;
}

h1 {
    font-size: 15cqi;
    font-weight: 900;
    filter: drop-shadow(2px 2px 0.1rem var(--color-highlight));
}

.group-img {
    display: block;
    width: 100%;
    object-fit: fill;
    border-radius: 4px;
}

.back-home {
    font-size: clamp(7pt, 2vw, 15pt);
    position: fixed;
    top: 1vw;
    left: 2vw;
    color: var(--color-text-secondary);
    border-color: var(--color-text-secondary);
    z-index: 1000;
    margin: 0;
}

.back-home:hover {
    background-color: var(--color-highlight);
    border-color: var(--color-highlight);
}

.back-home:active {
    background-color: var(--color-highlight)!important;
    border-color: var(--color-highlight) !important;
    color:var(--color-background-primary) !important
}

.bottom-container {
    border-radius: 4px;
    container-type: inline-size;    
    height: 10vh;
    max-width: 100%;
    background-color: rgb(35, 35, 35);}

.bottom-button {
    border-radius: 2px;
    font-weight: 700;
    color: var(--color-highlight);
    border-color: var(--color-highlight);
    font-size: 15pt;
    position: static;
    left: 0;
    top: 0;
}

.bottom-button:hover {
    background-color: var(--color-highlight-var);
    border-color: var(--color-highlight-var);
    color: var(--color-background-primary);

}


@media (min-width: 768px) {
    .group-explanations {
        margin-top: 0;
    }


}


