:root {
    --color-text-primary: #ccc;
    --color-background-primary: #303030;
    --color-background-secondary: #666666;
    --color-highlight: #FFA1A5;
}

#title {
    width: 468px;
    width: 50%;
    margin-inline: auto;
    container-type: inline-size;
}

.card-container {
    /* all: unset; */
    container-type: inline-size;
    padding-top: 10cqi;
    padding-bottom: 10cqi;
    filter: drop-shadow(4cqi 5cqi 2cqi var(--color-background-primary))!important; 
}

.card-container:hover {
    transform: none;
}


.card {
    width: 80%;
    margin-inline: auto;
    margin-bottom: 0;
}

h1 {
    font-size: 15cqi;
    font-weight: 900;
    filter: drop-shadow(2px 2px 0.1rem var(--color-highlight));
}

.group-img {
    width: 100%;
    display: block;
    object-fit: fill;
    border-radius: 4px;
}


@media (min-width: 768px) {
    .group-explanations {
        margin-top: 0;
    }
}

/* @media (min-width: 1200px) {
    #title {
        width: 468px;
    }
} */
