@font-face {
  font-family: "ProggyVec";
  src: url("../font/ProggyVector-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
    --color-text-primary: #ccc;
    --color-background-primary: #303030;
    --color-background-secondary: #666666;
    --color-highlight: #FFA1A5;
    --color-highlight-var: ##FF636B;
    --color-hihlight-yellow: #fc3;
    --color-highlight-blue: #7cf
}

body {
    margin: 16px;
}

.link {
    color: var(--color-highlight-blue);
}

#main-content-container {
    margin: clamp(16px, 1vw, 20px) auto;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: var(--color-highlight);
}

body {
    font-size: 11pt;
    font-family: "ProggyVec";
    line-height: 1.4;
    color: var(--color-text-primary);
    background-color: var(--color-background-primary);
    margin: 10px;
    padding: 0px;
}

#title {
    background-color: var(--color-highlight);
    border-radius: 16px;
    color: var(--color-background-primary);
}

#title h1 {
    color: var(--color-background-primary);
}

hr {
    color: var(--color-highlight);
}

#collection {
    max-width: 85%;
    margin-inline: auto;
}


/* GAME CARD BEGINNING */
.card-container {
    transition: transform 0.3s ease-in-out;
    container-type: inline-size;
}

.card-container:hover {
    filter: drop-shadow(0 0px 5px var(--color-highlight));
    transform: scale(1.05);
}

.card {
    background:
        linear-gradient(rgba(255, 255, 255, 0.04),
            rgba(0, 0, 0, 0.08)),
        repeating-linear-gradient(0deg,
            rgba(255, 255, 255, 0.02) 0px,
            rgba(255, 255, 255, 0.02) 2px,
            transparent 2px,
            transparent 4px),
        var(--color-background-secondary);
    aspect-ratio: 1/ 1.2;
    clip-path: polygon(5% 0, 95% 0, 100% 5%, 100% 85%, 85% 100%, 5% 100%, 0 95%, 0 5%);
    border-radius: 7%;
}

.card-img {
    width: 80%;
    aspect-ratio: 1 / 1;
    margin-top: 10%;
    display: block;
    margin-inline: auto;
    object-fit: cover;
    border-style: solid;
    border-width: 5%;
    border-color: black;
}

.card-text-container {
    width: 80%;
    margin-top: 1cqi;
    margin-left: 10%;
    padding: 0;
}

.card-text-container h3{
    font-size: 8cqi;
    font-weight: 900;
    padding-bottom: 0;
    margin-top: 2cqi;
    margin-bottom: 1cqi;
}

.card-text-container p {
    font-size: 5cqi;
    line-height: normal;
}
/* GAME CARD END */

@media (min-width: 768px) {

    #main-content-container {
        max-width: none;
        min-width: 745px; /* allows for smooth transition 691.2 = 768 * 0.9, (because main-container is 90% until md breakpoint)
        for some reason, there is still a jump with value so i took off 32 
        and it's good enough probaly a problem with the margins*/
        width: 66%;
    }

  #collection {
    max-width: 95%;
  }
}







